langchain
langchain-core
pypdf
pymupdf
langchain_community
sentence-transformers
faiss-cpu
chromadb
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langchain_tavily
langchain-mcp-adapters
mcp
# uv add ipykernel